.cart-number{
    font-size: 10px !important;
    color: white !important;
    background-color: black !important;
    top: 0 !important;
    right: 0 !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
    transform: translate(14%,-20%) !important;
}
.cart-button{
    position: relative;
    height: 3rem !important;
    width: 3rem !important;
}
.cart-button:hover  .cart-number{
    background-color: white !important;
    color: black !important;
    font-weight: 700;
    border: 1px solid black;
}
.navbar a{
    font-size: 18px;
    font-weight: bold !important;
    padding-right: 10px !important;
}